/* START CSS ANIMATION */
.box-one{
    animation: slideInLeft 2s; /* name, duration, timing-function, iteration-count, direction, delay*/
}
@keyframes slideInLeft {
    from {
        margin-right: 100%;
        margin-top: 40rem;
        height: 200px;
    }
    75%{
        height: 300px;
    }
    to {
        margin-right: 0;
    }
}

#welcome{
    animation: glowInOut 1s ease-in-out infinite alternate 6s; /* name, duration, timing-function, iteration-count, direction, delay*/
}
@keyframes glowInOut {
    from{
        color: whitesmoke;
    }
    75% {
        color: greenyellow;
    }
    to{
        color: tomato;
    }
}

/* END CSS ANIMATION */